button {
  background-color: #faf5f7;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #ccbcc2;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
  background-color: #f0dde5;
  transition: all 0.1s ease;
}
