.nav {
  float:right;
  padding: 15px;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
}

#leftnav {
    float:left;
}

@media screen and (max-width: 800px) {
   #leftnav {
      display: none;
   }
}

.topnav {
  background-color: #faf5f7;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
}

.nav .active {
  font-weight: 500;
}

.nav a {
  text-decoration: none;
}

.nav:hover a {
  color: #737373;
}

@media screen and (max-width: 800px) {
   .topnav {
      width: 100%;
   }
}

#navitems {
  desplay: block;
}

@media screen and (max-width: 800px) {
    #navitems {
    display:none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    overflow: hidden;
    width: 200px;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
    .nav {
    float:none;
  }
}
