.nav {
  float:right;
  padding: 15px;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
}

#leftnav {
    float:left;
}

.topnav {
  background-color: #fff7fc;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
}

.nav .active {
  font-weight: 500;
}

.nav a {
  text-decoration: none;
}

.nav:hover a {
  color: #5e5e5e;
}

@media screen and (max-width: 800px) {
   .topnav {
      width: 100%;
   }
}
