#topnav {
  background-color: #faf5f7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 65px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

.nav {
  float:right;
  padding: 15px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
}

.nav .active {
  font-weight: 500;
}

.nav a {
  text-decoration: none;
}

#navitems {
  desplay: block;
}

.burger {
  display:none;
}

@media screen and (max-width: 800px) {
    #navitems {
    display:none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    overflow: hidden;
    width: 200px;
    justify-content: center;
    text-align: center;
  }

  .burger {
    display:inline;
  }
  .nav {
    float:none;
  }

  #leftnav {
     display: none;
  }
}
