.header {
  font-size: 40px;
  line-height: 50px;
  font-family: 'Signika', sans-serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

p { margin:0 }

.subheader {
  color: #474747;
  font-size: 22px;
  line-height: 22px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-name {
  color: #737373;
  font-size: 21px;
  line-height: 36px;
  font-family: 'Signika', sans-serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-name:hover {
  font-size: 22px;
  transition: all 0.2s ease;
}

.feature-name a {
  text-decoration: none;
}

html { scroll-behavior: smooth; }

#header1 {
  font-size: 36px
}

#header2 {
  font-size: 28px;
}

#welcome1:hover {
  font-size: 42px;
  transition: all 0.3s ease;
}

.paragraph {
  font-size: 18px;
  line-height: 26px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.paragraph a {
  font-weight: 500;
  color: #525252;
}

.paragraph a:hover {
  color: #737373;
}

#footer {
  font-size: 15px;
  padding-top: 20px;
}

.space {
  padding: 35px;
}

.smallspace {
  padding: 20px;
}

.headshot {
  border-radius: 30px;
  border: 8px solid #f0dde5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #fcfcfc;
}

.burger {
  float: right;
  padding: 10px;
  display: none;
}

@media screen and (max-width: 800px) {
   .burger {
      display: block;
   }
}
