
.navbar {
  overflow: hidden;
  background-color: #faf2f7;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 10px;
  float: right
  position: sticky;
}

.nav {
  float:right;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
}

.nav a {
  text-decoration: none;
}

.nav:hover {
  position: relative;
  top: -3px;
}

.header {
  font-size: 40px;
  line-height: 38px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

body {
  background-color: #faf2f7;
}

.space {
  padding: 50px;
}

.headshot {
  border-radius: 30px;
  border: 8px solid #f0dde5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.icon {
display: block;
float: left;
padding-left: 10px;
padding-right: 10px;
}

img.icon:hover {
  transition: all 0.3s ease;
  position: relative;
  top: -3px;
}

.icon-row {
   width: 100%;
   padding: 30px;
}

#left-panel {
  width: 30%;
  float: left;
  padding-top: 30px;
}

#right-panel {
  width: 70%;
  float: left;
  padding-top: 20px;
}
